* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

#movie-detailed-container {
}

/* Top */
.top-container {
    border-top: 3px solid #ccc;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-sizing: border-box;
    background: url('./../img/content_bg.png');
}

.top-container .movie-header {
    height: 10em;
}

.top-container .movie-header .movie-title-container {
    text-align: left;
    color: #ccc;
    margin-bottom: 2rem;
    margin-left: 5rem;
    float: left;
}

.top-container .movie-header .rating-container {
    float: right;
    margin-right: 3em;
}

.top-container .movie-header .rating-container h2 {
    color: #ccc;
    text-shadow: 1px 1px #777777;
    font-size: 7rem;    
    margin-bottom: 0;
}

.top-container .movie-header .rating-container small.out-of {
    color: #7a7a7a;
    text-shadow: 1px 1px #777777;
    font-size: 4rem;    
}

.top-container .movie-header .movie-title-container h1 {
    font-size: 6rem;
    text-shadow: 1px 1px #777777;
    margin-bottom: 0;
}

.top-container .movie-header .movie-title-container big {
    font-size: 3rem;
}

.top-container .trailer-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 500px) {
    .top-container .movie-header .rating-container h2 {
        color: #ccc;
        text-shadow: 1px 1px #777777;
        font-size: 3.5rem;    
        margin-bottom: 0;
    }

    .top-container .movie-header .rating-container small.out-of {
        color: #7a7a7a;
        text-shadow: 1px 1px #777777;
        font-size: 2rem;    
    }

    .top-container .movie-header .movie-title-container h1 {
        font-size: 3rem;
        text-shadow: 1px 1px #777777;
        margin-bottom: 0;
    }

    .top-container .movie-header .movie-title-container big {
        font-size: 1.5rem;
    }
}

/* Middle */
.middle-container {
    padding: 2em;
    font-size: 2rem;
    color: #CCCCCC;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    background-color: black;
    background: url('./../img/content_bg.png');
    opacity: 1;
    min-height: 10rem;
}

.middle-container .movie-description-container p {
    text-align: justify;
}

/* Bottom */
/* TODO: */