<link rel="stylesheet" href="./../assets/css/home.css">
<link rel="stylesheet" href="./../assets/css/about.css">
<linkrel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script">

    <div class="jumbotron text-center">
        <h1 class="header-h1">The people behind The Movies Database!</h1>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="avatar rouded-2" src="../img/iliyan.jpg">
                    </br>
                    <strong class="user-pic">Ilian_Iliev_2 </br> Илиян Купенов</strong>
                </div>
                <div class="col-md-4">
                    <img src="../img/mariyan.jpg">
                    </br>
                    <strong class="user-pic" ">Mariyan_Iliev_2 </br> Мариян Илиев</strong>
          </div>
          <div class="col-md-4 ">
              <img src="../img/ivelin.jpg ">
              </br>
              <strong class="user-pic "">IvelinR </br> Ивелин Ралев</strong>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <img src="../img/mihaela.jpg">
                    </br>
                    <strong class="user-pic">Mihaela_Ivanova </br> Михаела Иванова</strong>
                </div>
                <div class="col-md-4">
                    <img src="../img/svetlin.jpg ">
                    </br>
                    <strong class="user-pic ">svetlin.kozhuharov</br>Светлин Кожухаров</strong>
                </div>
            </div>
            <h2 class="header-h2">
                The Movies Database is authoritative source for all kind of movies. We provide movie trailers, casting updates, photos, trivia,
                industry news, and more!
                <br> If you can not decide what to watch - this is exactly what you need!
            </h2>
            <h2 class="footer">* This project is designed for educational purposes at Telerik Academy.</h2>
        </div>
    </div>