<link rel="stylesheet" href="./../assets/css/footer.css">

<footer class="footer-distributed">

    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/ilievv/Nightwing" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a href="#/">Home</a> ·
            <a href="#/discover">Discover</a> ·
            <a href="#/about">About</a> ·
            <a href="#/contact">Contact</a>
        </p>
        <p>Movies-DB &copy; 2016</p>
    </div>

</footer>