<link rel="stylesheet" type="text/css" href="./styles/header-menu-styles.css">
<link rel="stylesheet" type="text/css" href="../lib/font-awesome.min.css">

<div id="nav-wrapper">
    <ul class="topnav">
        <li><img src="../../assets/logo.png" class="logo"></a>
        </li>
        <li><a href="#" class="current">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        <li class="icon">
            <a>&#9776;</a>
        </li>
    </ul>
    <div class="search-wrapper">
        <div id="sb-search" class="sb-search ">
            <form>
                <input class="sb-search-input " placeholder="Search..." type="search" value="" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"><i class="fa fa-search"></i></span>
            </form>
        </div>
    </div>
</div>

<script src="./scripts/header-menu.js"></script>