<link rel="stylesheet" href="./../../assets/css/gallery.css">

<div class="container">

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <h1 class="page-header">Movies
                <small>Genre</small>
            </h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">

                {{#movies}}
                <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 portfolio-item">
                    <div class="movie-container">
                        <div class="img-container" style="background: url({{posterSrc}});" onclick="window.location='#/movies/detailed/{{id}}';"></div>

                        <div class="movie-caption-container">
                            <h2 class="movie-title">{{title}}</h2>
                            <p>{{description}}</p>
                        </div>                        
                    </div>
                </div>         
                {{/movies}}

        </div>
    </div>
</div>